<h1>My Lines</h1>
<h3><%= pluralize(@line.size, 'Line') %></h3>
<ul>
  <% @line.each do |line| %>
  <li class="line"><%= line.content %></li>
  <% end %>
</ul>
<%= link_to("New Line", new_line_path) %>